{% extends 'artistblog/base.html' %}

{% block title %}artistblog{% endblock %}

{% block body_block %}
<div class="hero-unit">
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username}}!</h1>
    {% else %}
    <h1>The Plug</h1>
    {% endif %}
    <p>Connecting musicians to blogs.</p>
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Featured Artist</h2>
    </div>
    <!--/span-->
    <div class ="span6">
        <h2> Top 5 Blogs </h2>
        {% if blogs %}
            <ul>
                {% for blog in blogs %}
                <li><a href="{{ blog.url }}">{{ blog.title }}</a> - {{ blog.category }} ({{ blog.views }} view(s))</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> No blogs at present.</strong>
        {% endif %}
    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}